name: Playwright E2E tests
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          github_token: ${{ github.token }}
          paths_ignore: '["**/README.md"]'
          do_not_skip: '["push"]'

  run-e2e-tests:
    runs-on: ubuntu-latest
    container: ${{ vars.PW_CONTAINER }}
    env:
      CI: true
      MPKIT_EMAIL: ${{ secrets.MPKIT_EMAIL }}
      MPKIT_URL: ${{ secrets.INSTANCE_MPKIT_URL }}
      NPM_CONFIG_CACHE: ${{ github.workspace }}/.npm
      HTML_ATTACHMENTS_BASE_URL: ${{ vars.HTML_ATTACHMENTS_BASE_URL }}
      TEST_REPORT_MPKIT_URL: ${{ vars.TEST_REPORT_MPKIT_URL }}
      TEST_REPORT_MPKIT_TOKEN: ${{ secrets.TEST_REPORT_MPKIT_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - uses: Platform-OS/gh-action-run-pw-test@0.0.8
        name: Run Playwright tests
        with:
          test-name: test
