name: Playwright E2E tests
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          github_token: ${{ github.token }}
          paths_ignore: '["**/README.md"]'
          do_not_skip: '["push"]'

  run-e2e-tests:
    needs: pre_job
    runs-on: ubuntu-latest
    container: platformos/playwright:5.5.0-1.56.0
    env:
      CI: true
      TEST_APP_URL: https://fk-test-ci-instance-01.ps-01-platformos.com/
      NPM_CONFIG_CACHE: ${{ github.workspace }}/.npm
    steps:
      - uses: actions/checkout@v4
      
      - name: Run Playwright tests
        run: npm run test
